
/*
Formatações em geral
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {width: 100%; height: 100%; padding: 0; margin: 0;}
img {max-width: 100%; height: auto; width: 100%;}
body {font-size: 1em; font-family: "Trebuchet MS", Helvetica, sans-serif; background: #e6e6e6;}
li{display: inline;}
ul{text-align: center; width: 100%; padding: 10px;}
h1 {color: #4e4e4e; font-size: 2.5em; text-align: center; padding: 20px;}
h2 {color: #f7b600; padding: 15px;}
h3 {color: #565656; background: #CCC; padding: 5px;}


/*
Layout
*/
#area-cabecalho {background-color: #f5b700;}
#area-logo {width: 150px; margin-left: auto; margin-right: auto;}
#area-foto {display: flex; justify-content: center;}
#rodape {text-align: center; padding: 15px; background: #CCC; clear: both; margin-bottom: 0%; }
#moldIframe{max-width:100%; max-height: auto;}

.quadro {background: white; padding: 30px; margin: 0px auto 0px; max-width: 100%;}


/*
Formatação do menu
*/
a {text-decoration: none; display: inline;}
a:link, a:visited {color: #f7b600;}
a:hover {text-decoration: underline;}

#area-cabecalho a:link, #area-cabecalho a:visited {color: #FFF; padding: 8px 12px;}
#area-cabecalho a:hover {color: #f7b600; background: #FFF; text-decoration: none;}

/*
Desktop
*/

@media screen and (min-width: 1000px){
	#pai-capa{text-align: center;}
	#capa {width: 1000px; height: auto; margin: 0 auto 20px;}
	#area-principal {width: 960px; margin: 0 auto 7% auto; padding: 15px;}
	.hamburguer-foto {width: 600px; height: 400px;}
	.hamburguer {background: white; height: 500px; float: left; margin: 40px 70px 70px 200px;}
}